<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<style>
  #password-input {
  padding-right: 50px; /* el ancho del botón + un poco de espacio para separación */
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

</style>
<body>
    <!-- Card con contenido -->
<div class="card" id="card-1" style="display: none; width: 18rem; margin-bottom: 20px;">
    <img src="https://elfinanciero-elfinanciero-prod.cdn.arcpublishing.com/resizer/bi8jiV1BCJHx5EiQmyBZ_TEalZM=/cloudfront-us-east-1.images.arcpublishing.com/elfinanciero/S37JJ3J3ZNEX7GCXCEGXET352A.jpg" class="card-img-top" alt="Placeholder">
    <div class="card-body">
        <h5 class="card-title">Clásico Mundial de Beisbol: ¿Cuál es el próximo rival de México en cuartos de final?</h5>
        <p class="card-text">México enfrentará en cuartos de final del Clásico Mundial de Beisbol a Puerto Rico el viernes 17 de marzo en Miami, Florida..</p>
        <a href="https://www.elfinanciero.com.mx/deportes/2023/03/15/clasico-mundial-beisbol-2023-fecha-horario-y-transmision-en-vivo-juego-de-mexico-en-cuartos-de-final/" class="btn btn-dark">Leer más</a>
    </div>
  </div>
  
  <!-- Card con placeholder -->
  <div class="card" id="card-2" style="width: 18rem; margin-bottom: 20px;">
    <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Placeholder">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a class="btn btn-primary disabled placeholder col-6"></a>
    </div>
  </div>

  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Contraseña" id="password-input">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="show-password-btn" onclick="togglePassword()">
        Mostrar<i class="fa-regular fa-eye"></i>
      </button>
    </div>
  </div>
  <button id="redirect-button">Redireccionar</button>
  <!-- Script para reemplazar el placeholder con la card después de 5 segundos -->
  <script>
    setTimeout(function(){
      document.getElementById("card-1").style.display = "block";
      document.getElementById("card-2").style.display = "none";
    }, 5000);
    function togglePassword(){
      var passwordInput = document.getElementById("password-input");
      var showPasswordBtn = document.getElementById("show-password-btn");

      showPasswordBtn.addEventListener("mousedown", function () {
        passwordInput.type = "text";
      });

      showPasswordBtn.addEventListener("mouseup", function () {
        passwordInput.type = "password";
      });
    }
    

    document.getElementById("redirect-button").addEventListener("click", function(event) {
    event.preventDefault(); // evitar el comportamiento predeterminado del botón o enlace
    document.body.classList.add("fade-out"); // agregar la clase "fade-out" al cuerpo
    setTimeout(function() {
      window.location.href = "./InicioSesion.html"; // cambiar la ubicación actual de la página después de 500ms
    }, 500);
  });

  </script>
  
</body>
</html>