<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelNews</title>
    <link rel="stylesheet" href="../public/css/Registro.css">
    <script src="https://kit.fontawesome.com/1403a81a44.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body class="transition">
    <div class="card p-4">
        <img src="../public/images/User.svg" class="logo-user">
        <h4 class="title">Registrate</h4>
        <div class="container">
            <p class="texto">Campos obligatorios*</p>
            <form class="g-3 needs-validation" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input_group">
                            <input type="text" id="nombre" class="form_input" placeholder=" " required>
                            <label for="nombre" class="form_label">Nombre(s)*</label>
                        </div>
                        <div class="input_group">
                            <input type="text" id="apellidoPaterno" class="form_input" placeholder=" " required>
                            <label for="apellidoPaterno" class="form_label">Apellido Paterno*</label>
                        </div>
                        <div class="input_group">
                            <input type="text" id="apellidoMaterno" class="form_input" placeholder=" " required>
                            <label for="apellidoMaterno" class="form_label">Apellido Materno*</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input_group">
                            <input type="email" id="correo" class="form_input" placeholder=" " required>
                            <label for="correo" class="form_label">Correo electrónico*</label>
                        </div>
                        <div class="input_group">
                            <input type="password" id="pass" class="form_input" placeholder=" " required>
                            <label for="pass" class="form_label">Contraseña*</label>
                            <button class="btn pass-eye" type="button" id="show-password-btn-1" onclick="togglePassword('1','pass')">
                                <i class="fa-regular fa-eye-slash" id='myIcon-1'></i>
                            </button>
                        </div>
                        <div class="input_group">
                            <input type="password" id="passConfir" class="form_input" placeholder=" " required>
                            <label for="passConfir" class="form_label">Confirmar Contraseña*</label>
                            <button class="btn pass-eye" type="button" id="show-password-btn-2" onclick="togglePassword('2','passConfir')">
                                <i class="fa-regular fa-eye-slash" id='myIcon-2'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-12 d-flex justify-content-center pb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                            <label class="form-check-label" for="flexCheckDefault">
                                Acepto los términos y condiciones
                            </label>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center pb-3">
                        <button type="submit" class="btn btn-dark">Crear cuenta</button>
                    </div>
                </div>
          </form>
          <div class="d-flex gap-1 justify-content-center mt-1">
            <div class="small">¿Ya tienes una cuenta?</div>
            <a href="./InicioSesion.html" class="text-decoration-none fw-semibold small">Inicia Sesión</a>
          </div>
        </div>
    </div>
</body>
<script>
    function togglePassword(inputId,nameId) {
        var passwordInput = document.getElementById(nameId);
        var showPasswordBtn = document.getElementById("show-password-btn-" + inputId);
        var showPasswordIcon = document.getElementById("myIcon-" + inputId);

        function showPassword() {
            passwordInput.type = "text";
            showPasswordIcon.classList.remove("fa-eye-slash");
            showPasswordIcon.classList.add("fa-eye");
        }

        function hidePassword() {
            passwordInput.type = "password";
            showPasswordIcon.classList.remove("fa-eye");
            showPasswordIcon.classList.add("fa-eye-slash");
        }

        showPasswordBtn.addEventListener("mousedown", showPassword);
        showPasswordBtn.addEventListener("mouseup", hidePassword);
    }
    setTimeout(function(){
                document.querySelector('.transition').classList.add('show');
            }, 100);
  </script>
  
</html>