body{
    margin: 20px !important;
    font-family: 'Exo', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.fecha{
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

.elementoFixed{
    position: fixed;
    top: 250px;
}

.socialContainer{
    max-width: 50px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
}

.redes-sociales{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redes-sociales i {
  font-size: 24px; /* Tamaño de fuente personalizado */
  color: black
}

.socialContainer a {
  margin: 10px;
}

#my-element {
    position: relative;
  }
  
  #my-element.fixed {
    position: fixed;
    top: 30px;
  }
  #mi-elemento {
    position: absolute;
    top: 0;
  }
  

.calendar{
    width: 360px;
    height: 360px;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.no-margin {
    margin: 0 !important;
}

.logo{
    width: auto;
    height: 50px;
}

.navbar{
    background: transparent !important;
    border: none;
}

.text-dark{
    font-family: 'Exo', sans-serif !important;
    font-weight: bold;
    
}

.text-dark:hover{
    text-decoration: underline !important;
}

.LineaGruesa{
    border-top: 3px solid black !important;
}

.card {
  height: 500px !important; /* Altura fija */
  width: 300px !important; /* Ancho fijo */
}

.circulo-Usuario {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 100%;
}

.image-texto-1:hover{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(50, 50, 50) 100%);
  background-size: cover;
  color:rgb(47, 227, 255);
  transition: 0.5s;
}

.img-encabezado {
  max-width: 100%;
  display: inline-block;
  height: 350px;
  object-fit: cover;
}

.img-encabezado-chicas {
  width: 260px;
  display: inline-block;
  height: 170px;
  object-fit: cover;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-texto-1 {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.5); /* Color de fondo semitransparente */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
}

.eslogan{
  font-family: 'Brawler';
  font-style: normal;
  font-weight: auto;
  font-size: 20px;
  line-height: 59px;
}

@media (max-width: 767px) {
  .img-encabezado-chicas{
      height: auto;
      width: auto;
  }
  .img-encabezado {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .img-encabezado-chicas{
      height: 260px;
      width: auto;
  }
  .img-encabezado {
    height: auto;
  }
}

@media (max-width: 990px) {
    #my-element.fixed {
        position: relative;
        top: 30px;
      }
      .socialContainer{
        max-width: 50px;
        background-color: rgb(238, 238, 238);
        padding: 10px;
        overflow: hidden;
        text-overflow: clip;
    }
    .socialContainer p{
      text-align: center;
    }
    .socialContainer h2{
      text-align: center;
    }
    .socialContainer p{
      text-align: center;
    }
}