html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: 10px !important;
    font-family: 'Exo', sans-serif;
}
.input_group{
    width: auto;
    margin: 10px auto;
    position: relative;
    --color: rgb(0, 0, 0);
}
.form_input{
    width: 100%;
    background: #f1f1f1;
    color: gray;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font: inherit;
}
.form_label{
    color:var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(50%);
    transition: transform .5s, color .3s;
}

.form_input:not(:placeholder-shown){
    color: rgb(13, 13, 67);
}
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-100%) scale(.9);
    transform-origin: left top;
    color: rgb(0, 0, 0);
    font-weight: 700;
    left: 0px;
}
.container{
    margin: 0 auto;
    border: 1px solid !important;
    max-width: 450px !important;
}
.logo{
    max-width: 200px;
}
.logo-user{
    width: 100px;
    height: auto;
    margin: 10px auto;
}
.title{
    font-family: 'Brawler';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 59px;
    margin: 5px auto;
}
form div:first-child {
    margin-bottom: 40px;
}
.texto{
    font-size: 12px;
    margin: 0 25px 20px;
}
.botonAcceso{
    border-radius: 5px !important;
    --bs-btn-padding-x: 60px;
    --bs-btn-font-size: 18px;
}
.card{
    padding: auto;
}
.transition {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.transition.show {
    opacity: 1;
}
.text-decoration-none:hover {
    text-decoration: underline !important;
}
.modal-content {
    border-radius: 0px;
    border: 1.5px solid #000000;
    padding: 20px;
}
.titulo-modal{
    font-weight: 200;
    font-family: 'Brawler';
    font-style: normal;
    font-size: 40px;
}