<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelNews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FeelNews.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Reaction.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ModificarDatos.css') }}">
    <script src="https://kit.fontawesome.com/1403a81a44.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <script>
        function mostrarFechaHora() {
          var fechaHora = new Date();
          var fecha = fechaHora.toLocaleDateString();
          var hora = fechaHora.toLocaleTimeString();
          document.getElementById("fecha-hora").innerHTML = fecha + " " + hora;
        }
        window.onload = function() {
          mostrarFechaHora();
        };
      </script>
</head>

<body>
    <!--Encabezado-->
    <header>
      <p id="fecha-hora" class="fecha"></p>
      <hr>
      <div class="row">
        <div class="col-6 align-self-start">
            <a href="/FeelNews"><img src="{{ url_for('static', filename='images/Logo.jpg') }}" class="logo"></a>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-outline-dark w-100 h-100 rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><h5 class="dropdown-item" >Name</h5></li>
              <li><a class="dropdown-item" href="/Modificar_datos">Mi información</a></li>
              <li><a class="dropdown-item" href="#"><b>Cerrar sesión</b></a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
      <hr>
    </header>
    <!--Barra de navegacion-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" href="/FeelNews">Regresar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr class="LineaGruesa">
  <div class="container"  style="padding: 10px 30px 10px;">
    <h1 class="mb-3">Mis datos</h2>
    <h3 class="mb-3">Información sobre la cuenta</h4>
    <form>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="nombre" class="input_label">Nombre:</label>
        <input class="form-control" type="text" placeholder=" " value="Marco Antonio"required>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="apellido-paterno" class="input_label">Apellido Paterno:</label>
        <input class="form-control" type="text" placeholder=" " value="Torres" required>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="apellido-materno" class="input_label">Apellido Materno:</label>
        <input class="form-control" type="text" placeholder=" " value="López"required>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="correo" class="input_label">Correo electrónico:</label>
        <input class="form-control" type="email" id="correo" placeholder=" " value="marko274.matl@gmail.com" required>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="ContraActual" class="input_label">Contraseña actual:</label>
        <input class="form-control" type="password" id="ContraActual" placeholder=" " required>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="pass" class="input_label">Nueva contraseña:</label>
        <div class="input-group">
          <input class="form-control" type="password" id="pass" placeholder=" " required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary pass-eye" type="button" id="show-password-btn-1" onclick="togglePassword('1','pass')">
              <i class="fa-regular fa-eye-slash" id='myIcon-1'></i>
            </button>
          </div>
        </div>
        <span id="passwordHelpInline" class="form-text">
          Recuerda que tu contraseña debe tener entre 6 y 10 caracteres, al menos 1 número, una letra mayúscula y un carácter especial.
        </span>
      </div>
      <div class="form-group col-12 col-lg-6 mb-3">
        <label for="Confirmarcontra" class="input_label">Confirmar contraseña:</label>
        <div class="input-group">
          <input class="form-control" id="passConfir" type="password" placeholder=" " required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary pass-eye" type="button" id="show-password-btn-2" onclick="togglePassword('2','passConfir')">
              <i class="fa-regular fa-eye-slash" id='myIcon-2'></i>
            </button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark">Guardar</button>

    </form>
  </div>
  
  <hr color="black">

    <footer class="text-center text-lg-start" id="sec4">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="row">
        <div class="col-lg-9 align-items-center">
          <img src="{{ url_for('static', filename='images/Logo.jpg') }}"  width="150" height="auto">
            <p class="eslogan"> Lo que importa es lo que sientes.</p>
        </div>
        <div class="col-lg-3">
            <p> © 2023  FeelNews, Inc. Privacy Policy</p>
        </div>
        </div>
    </div>
    </footer>
    <script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualizarContrasena.js') }}"></script>
</body>
</html>