<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelNews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FeelNews.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Noticia.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Reaction.css') }}">
    <script src="https://kit.fontawesome.com/1403a81a44.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <script>
        function mostrarFechaHora() {
          var fechaHora = new Date();
          var fecha = fechaHora.toLocaleDateString();
          var hora = fechaHora.toLocaleTimeString();
          document.getElementById("fecha-hora").innerHTML = fecha + " " + hora;
        }
        window.onload = function() {
          mostrarFechaHora();
        };
      </script>
</head>

<body>
    <!--Encabezado-->
    <header>
      <p id="fecha-hora" class="fecha"></p>
      <hr>
      <div class="row">
        <div class="col-6 align-self-start">
          <img src="{{ url_for('static', filename='images/Logo.jpg') }}" class="logo">
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-outline-dark w-100 h-100 rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><h5 class="dropdown-item" >Name</h5></li>
              <li><a class="dropdown-item" href="#">Mi información</a></li>
              <li><a class="dropdown-item" href="#"><b>Cerrar sesión</b></a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
      <hr>
    </header>
    <!--Barra de navegacion-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="./FeelNews">Regresar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr class="LineaGruesa">
  <div class="container">
    <h1 class="titulo">{{noticia.Titulo}}</h1>
    <div class="row mt-5">
        <div class="col-6">
            <h5 class="informacion">Escrito por: {{noticia.Titulo}}</h5>
        </div>
        <div class="col-6">
          <h5 class="informacion">Publicado en: {{ noticia['Sitio de publicacion'] }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h5 class="informacion">Fecha: {{noticia['Fecha de publicacion']}}</h5>
        </div>
        <div class="col-6">
            <h5 class="informacion">Link de la publicación:{{noticia.URL}} </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="image-container">
              <img class="img-noticia mx-auto d-block" src="{{ noticia.Imagen }}">
            </div>
        </div>
    </div>
    <div class="row">
        <p class="contenido">{{noticia.Contenido|safe}} </p>
    </div>
  </div>

  <div class="ContenedorWidget">
    <center>
      <div class="contenedor-botones">
        <button id="toggle-reactions" type="button" class="btn btn-outline-secondary boton">
          <i class="fa-regular fa-face-meh-blank"></i>
        </button>
      </div>
    </center>
    <div class="reactions-container contenidoWidget">
        <div class="reaction felicidad" data-reaction="Felicidad">
          <span class="reaction-name">Feliz</span>
          <i class="fa-regular fa-face-laugh-beam"></i>
        </div>
        <div class="reaction miedo" data-reaction="Miedo">
          <span class="reaction-name">Miedo</span>
          <i class="fa-regular fa-face-flushed"></i>
        </div>
        <div class="reaction sorpresa" data-reaction="Sorpresa">
          <span class="reaction-name">Sorprendido</span>
          <i class="fa-regular fa-face-surprise"></i>
        </div>
        <div class="reaction tristeza" data-reaction="Tristeza">
          <span class="reaction-name">Triste</span>
          <i class="fa-regular fa-face-sad-tear"></i>
        </div>
        <div class="reaction enojo" data-reaction="Enojo">
          <span class="reaction-name">Enojado</span>
          <i class="fa-regular fa-face-angry"></i>
        </div>
        <div class="reaction neutro" data-reaction="Neutro">
          <span class="reaction-name">Neutro</span>
          <i class="fa-regular fa-face-meh"></i>
        </div>
        <div class="reaction conmovido" data-reaction="Conmovido">
          <span class="reaction-name">Conmovido</span>
          <i class="fa-regular fa-face-sad-cry"></i>
        </div>
        <div class="reaction inspiracion" data-reaction="Inspiracion">
          <span class="reaction-name">Inspirador</span>
          <i class="fa-regular fa-face-grin-stars"></i>
        </div>
    </div>
  </div>
  <hr color="black">

    <footer class="text-center text-lg-start" id="sec4">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="row">
        <div class="col-lg-9 align-items-center">
          <img src="{{ url_for('static', filename='images/Logo.jpg') }}"  width="150" height="auto">
            <p class="eslogan"> Lo que importa es lo que sientes.</p>
        </div>
        <div class="col-lg-3">
            <p> © 2023  FeelNews, Inc. Privacy Policy</p>
        </div>
        </div>
    </div>
    </footer>
    <script src="{{ url_for('static', filename='js/reaction.js') }}"></script>
</body>
</html>